*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
.parent{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.nav{
    position: absolute;
    z-index: 2;
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    color: rgb(255, 255, 255);
}
.nav i{
    font-size: 3vh;
    padding: 20px 20px;
    background-color: rgba(3, 3, 3, 0.178);
    border-radius: 50%;
}
.back{
    /* background-image: url(); */
    height: 100%;
    width: 100%;
    /* background-size: cover;
    background-position: center; */
}
.back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.onTop{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    background-color: rgba(0, 255, 255, 0);
}
.onTop .main-sec{
    height: 100vh;
    width: 100vw;
}
.onTop .main-sec img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.bottom-sec{
    position: absolute;
    bottom: 16.5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottom-sec h1{
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
}
.button-box{
    display: flex;
    gap: 10px;
}
.bottom-sec button{
    height: 25px;
    width: 20vw;
    border: none;
    border-radius: 10px;
    background-color: rgba(157, 157, 157, 0.245);
    color: white;
}
.footer-sec{
    position: absolute;
    bottom: 0;
    height: 16vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}
.footer-sec i{
    font-size: 4.5vh;
    padding: 20px 20px;
    background-color: rgba(3, 3, 3, 0.361);
    border-radius: 50%;
    color: white;
}
.footer-sec .fa-fire{
    background-color: white;
    font-size: 6vh;
    color: rgb(35, 35, 35);
    padding: 25px 25px;
}
i:active{
    scale: 1.2;
    transition-duration: 0.4s;
}